<strong>Date:</strong>
  <%= @booking.date%>
<p> <strong>Price:</strong>
  <%= @booking.price%>
</p>


<%= form_tag orders_path do %>
  <%= hidden_field_tag 'booking_id', @booking.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>


