<div class="card-user">
  <div class="card-user-left">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "square", data: {toggle: "dropdown"} %>
    <% else %>
      <i class="fas fa-user-circle fa-2x avatar text-secondary" data-toggle="dropdown"></i>
    <% end %>
    <h4><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></h4>
  </div>

  <div class="card-user-right">
    <div class="user-info">
      <h3>User Information</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p><%= @user.email.downcase %></p>
          </div>
          <div class="data">
            <h4>Phone</h4>
            <p><%= @user.phone_number %></p>
          </div>
          <div class="data">
            <h4>Gender</h4>
            <p><%= @user.gender %></p>
          </div>
          <div class="data">
            <h4>Address</h4>
            <p><%= @user.address %></p>
          </div>
          <%= link_to "Edit", edit_user_registration_path, class: "btn btn-outline-info" %>
        </div>
      </div>
    </div>
</div>





