<div class="container">
  <div class="row">
    <div class="user-show">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 " align="center">
               <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "square", data: {toggle: "dropdown"} %>
                <% else %>
                  <i class="fas fa-user-circle fa-2x avatar text-secondary" data-toggle="dropdown"></i>
                <% end %>
              </div>
              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>E-mail:</td>
                      <td><%= @user.email.downcase %></td>
                    </tr>
                    <tr>
                      <td>Gender:</td>
                      <td><%= @user.gender %></td>
                    </tr>
                    <tr>
                      <td>Address:</td>
                      <td><%= @user.address %></td>
                    </tr>
                    <tr>
                      <td>Phone Number:</td>
                      <td><%= @user.phone_number %></td>
                    </tr>
                  </tbody>
                </table>
                <%= link_to "Edit", edit_user_registration_path, class: "btn btn-outline-info" %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
