<h2><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></h2>

<p>INFORMATION</p>
<p><b>E-mail:</b> <%= @user.email.downcase %></p>
<p><b>Gender:</b> <%= @user.gender %></p>
<p><b>Address:</b> <%= @user.address %></p>

<%= link_to "Edit", edit_user_registration_path, class: "btn btn-outline-info" %>
