<div class="banner-checkout">
  <h1>Order Completed</h1>
</div>

<div class="container d-flex justify-content-center">
  <div class="payment-card mt-5 p-5">
    <div class="container">
      <div class="row py-4">
        <div class="col">
          <h1>Order #<%= @order.id %> <small><span class="badge badge-primary">Paid</span></small></h1>
          <ul class="list-unstyled">
            <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
            <li><strong>BOOKING</strong> <%= @order.booking.teacher.user.first_name %> [<%= @order.booking_sku %>]</li>
            <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
