<div class="container d-flex justify-content-center">
  <div class="payment-card mt-5 p-5">
    <h3 class="text-primary mb-3 ml-5 mt-2"><b>Order #<%= @order.id %></b></h3>
    <h4><span class="badge badge-primary pt-2 ml-5 mb-2">Paid</span></h4>

    <div class="booking-info d-flex justify-content-between pl-5 pr-5 pt-4">
      <div>
        <p>User</p>
        <h6 class="text-primary"><b><%= @order.booking.user.first_name %> <%= @order.booking.user.last_name %></b></h6>

        <p>Date</p>
        <h6 class="text-primary"><b><%= @order.booking.day %></b></h6>

        <p>Location</p>
        <h6 class="text-primary"><b><%= @order.booking.user.address %></b></h6>
      </div>

      <div class="pr-5">
        <p>Teacher</p> 
        <h6 class="text-primary"><b><%= @order.booking.teacher.user.first_name %> <%= @order.booking.teacher.user.last_name %></b></h6>
        
        <p>Class</p>
        <h6 class="text-primary"><b><% @order.booking.teacher.speciality.each do |speciality| %>
          <%= speciality %> 
        <% end %></b></h6>

        <p>Price</p>
        <h6 class="text-primary"><b><%= humanized_money_with_symbol @order.booking.price %></b></h6>
      </div>
    </div>
    <div class="booking-buttons d-flex justify-content-center">
      <%= link_to "Homepage", root_path, class: "btn btn-info btn-block mt-5" %>
    </div>
  </div>
</div>
