<div class="container">
  <h2 class="mt-4 mb-5 text-primary">Bookings</h2>

  <div class="d-flex row justify-content-center">
    <% current_user.bookings.each do |booking| %>
      <div class="booking-index-card mt-3 mr-5">
        <h5 class="mb-3 mt-1"><b><%= link_to "Booking ##{booking.id}", booking_path(booking.id) %></b></h5>
        
        <p>Date</p>
        <h6 class="text-primary"><%= booking.day %></h6>
        <p>Hour</p>
        <h6 class="text-primary"><%= booking.hour %></h6>
        <p>Teacher</p>
        <h6 class="text-primary"><%= booking.teacher.user.first_name %> <%= booking.teacher.user.last_name %></h6>

        <!-- <p><%= link_to "Contact coach", booking_chatrooms_path(booking.id), method: :post, class: "btn btn-outline-info btn-block mt-4" %></p> -->
        <p><%= link_to "Contact coach", "/chatrooms", class: "btn btn-outline-info btn-block mt-4" %></p>
        <p><%= link_to "Leave a review", new_booking_review_path(booking.id), class: "btn btn-info btn-block" %></p>
      </div>
    <% end %>
  </div>
</div>
