<h3><%= @teacher.user.first_name %> <%= @teacher.user.last_name%> -
  <% @teacher.speciality.each do |speciality| %>
  <%= speciality %>
  <% end %>
</h3>
<br>
<h4>Description</h4>
  <%= @teacher.description %>
<br>
<hr>
<h4>Amount of student in the class</h4>
  <%= @teacher.max_students %>
<br>
<hr>
<h4>Price</h4>
  R$<%= @teacher.price %>
   + R$<%= @teacher.fee %> per extra person
