<div class="card-user">
  <div class="card-user-left">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "square", data: {toggle: "dropdown"} %>
    <% else %>
      <i class="fas fa-user-circle fa-2x avatar text-secondary" data-toggle="dropdown"></i>
    <% end %>
    <h4><%= "#{@teacher.user.first_name.capitalize} #{@teacher.user.last_name.capitalize}"%></h4>
  </div>

  <div class="card-user-right">
    <div class="user-info">
      <h3>User Information</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p><%= @teacher.user.email.downcase %></p>
          </div>
          <div class="data">
            <h4>Phone</h4>
            <p><%= @teacher.user.phone_number %></p>
          </div>
          <div class="data">
            <h4>Gender</h4>
            <p><%= @teacher.user.gender %></p>
          </div>
          <div class="data">
            <h4>Address</h4>
            <p><%= @teacher.user.address %></p>
          </div>
          <%= link_to "Edit", edit_user_registration_path, class: "btn btn-outline-info" %>
          <p><strong>TEACHER INFORMATION</strong></p>

              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                  <p><b>Specialities:</b></p>
                  <p><% @teacher.speciality.each do |speciality|%>
                    <li><%= speciality %></li>
                  <% end %></p>
                  <tbody>
                    <tr>
                      <td>Description</td>
                      <td><%= @teacher.description %></td>
                    </tr>
                    <tr>
                      <td>Limit of students per class:</td>
                      <td><%= @teacher.max_students %></td>
                    </tr>
                    <tr>
                      <td>Fixed price:</td>
                      <td><%= @teacher.price %></td>
                    </tr>
                    <tr>
                      <td>Fee per student in class:</td>
                      <td><%= @teacher.fee %>,00</td>
                    </tr>
                  </tbody>
                </table>
                <%= link_to "Edit", edit_teacher_path, class: "btn btn-outline-info" %>

                <p><b>Rating:</b> <%= @teacher.average_rating %></p>

                <p><b>Availabilities:</b></p>

                <div class="card">
                  <% @availabilities_by_date.each do |key, value| %>
                    <h3><%= key %></h3>
                    <% value.each do |i| %>
                      <%= "#{i.start_time} - #{i.end_time}" %> <%= link_to "Delete", teacher_availability_path(i), method: :delete %>
                    <% end %>
                  <% end %>
                  </div>
                    <%= link_to "Add new availability", new_teacher_teacher_availability_path(@teacher.id), class: "btn btn-outline-info" %>
        </div>
      </div>
    </div>
</div>





