<h2><%= "#{@teacher.user.first_name} #{@teacher.user.last_name}" %></h2>


<p>PERSONAL</p>
<p><b>E-mail:</b> <%= @teacher.user.email.downcase %></p>
<p><b>Gender:</b> <%= @teacher.user.gender %></p>
<p><b>Location:</b> <%= @teacher.user.address %></p>

<%= link_to "Edit", edit_user_registration_path, class: "btn btn-outline-info" %>

<p>TEACHING</p>
<p><b>Specialities:</b></p>

<p><% @teacher.speciality.each do |speciality|%>
  <li><%= speciality %></li>
<% end %></p>

<p><b>Description:</b> <%= @teacher.description %></p>
<p><b>Limit of students per class:</b> <%= @teacher.max_students %></p>
<p><b>Fixed price:</b> USD <%= @teacher.price %>,00</p>
<p><b>Fee per student in class:</b> USD <%= @teacher.fee %>,00</p>

<p>Edit your profile:</p>

<%= link_to "Edit", edit_teacher_path, class: "btn btn-outline-info" %>
