<div class="container d-flex justify-content-center">
  <div class="payment-card mt-5 p-5">
    <h4 class="text-primary mb-3"><b>Order #<%= @order.id %></b></h4>

    <div class="booking-info d-flex justify-content-between pl-5 pr-5 pt-4">
      <div>
        <p>User</p>
        <h6 class="text-primary"><b><%= @order.booking.user.first_name %> <%= @order.booking.user.last_name %></b></h6>

        <p>Date</p>
        <h6 class="text-primary"><b><%= @order.booking.day %></b></h6>

        <p>Hour</p>
        <h6 class="text-primary"><b><%= @order.booking.hour %></b></h6>

        <p>Participants</p>
        <h6 class="text-primary"><b><%= @order.booking.students_number %></b></h6>
      </div>

      <div class="pr-5">
        <p>Location</p>
        <h6 class="text-primary"><b><%= @order.booking.user.address %></b></h6>

        <p>Teacher</p> 
        <h6 class="text-primary"><b><%= @order.booking.teacher.user.first_name %> <%= @order.booking.teacher.user.last_name %></b></h6>
        
        <p>Class</p>
        <h6 class="text-primary"><b><% @order.booking.teacher.speciality.each do |speciality| %>
          <%= speciality %> 
        <% end %></b></h6>

        <p>Price</p>
        <h6 class="text-primary"><b><%= humanized_money_with_symbol @order.booking.price %></b></h6>
      </div>
    </div>

    <button id="pay" class="btn btn-info btn-block mt-5 mb-2">Proceed to payment</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      });
    </script>
  </div>
</div>
