<!DOCTYPE html>
<html>
  <head>
    <title>Team Time</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="<%= yield(:turbolinks_cache) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon1.ico') %>
    <meta property="og:title" content="Connect with your teammates | Team Time">
    <meta property="og:type" content="activities">
    <meta property="og:url" content="http://www.teamtime.club/">
    <meta property="og:image" content="https://images.pexels.com/photos/3932237/pexels-photo-3932237.jpeg">
    <meta property="og:description" content="You and your coworkers have no time to enjoy a more peaceful routine? Plan a relaxing class at your workplace with them!">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
